h3.info__titulo Sofa
p.info__detalles Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nulla quidem eius dicta omnis odio inventore vel labore enim mollitia incidunt aut pariatur ipsa quis alias est harum consectetur aperiam corrupti, necessitatibus aspernatur numquam? Tenetur ipsum, eaque excepturi magnam repudiandae odio cum velit eius temporibus. Ab exercitationem molestias explicabo rem?
