<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sofa
        link(rel="stylesheet", href="css/main.css")
    body
        #container
            section.zona_info: include sectionInfo
            section.zona_nav: include sectionNav
            figure.producto
                block producto
                    img.producto__imagen(src="assets/img/desktop/producto_sofa.png", alt="")