// tipografia
$font: 'Arial', 'Arial Black';



// tamaños
$font-size-base: 16px;

$font-size-titulo: convertir(140);
$font-size-parrafo: convertir(16);
$font-size-links: convertir(24);


// HTML
html{
    font-size: $font-size-base;
    font-family: nth($font,1), sans-serif;
    &, a{
        color: $color-blanco;
    }
}
