<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sofa
        link(rel="stylesheet", href="../css/main.css")
        link(rel="stylesheet", href="./indexcomit2.css")
    body
        #container
            section.zona__info
                img.info__hamburguesa( src="../assets/img/svg/menu_hamburguesa.svg", alt="icono hamburguesa")
                h3.info__titulo Sofa
                p.info__detalles Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nulla quidem eius dicta omnis odio inventore vel labore enim mollitia incidunt aut pariatur ipsa quis alias est harum consectetur aperiam corrupti, necessitatibus aspernatur numquam? Tenetur ipsum, eaque excepturi magnam repudiandae odio cum velit eius temporibus. Ab exercitationem molestias explicabo rem?

            section.zona__nav
                nav.nav__menu
                    a.menu__inicio(href="#") Inicio
                    a.menu__productos(href="#") Productos
                    a.menu__quienes(href="#") Quienes Somos
                a.nav__contactar(href="#") Contactar
            figure.producto
                block producto
                    img.producto__imagen(src="../assets/img/desktop/producto_sofa.png", alt="")
                    //img.producto__imagen2(src="/assets/img/desktop/sofa.png", alt="")
                    //he puesto la segunda imagen porque nos salía en todas las paginas y no tenemos más tiempo para posicionarla bien